@import url("https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}
.header__right__side {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header_top_block {
  width: 100%;
  background-color: #65256f;
}

.header_top_block .container {
  display: flex;
  height: 35px;
  justify-content: space-between;
  align-items: center;
}
.header_top_block .container h2 {
  font-size: 16px;
  color: #ffb700;
  font-weight: 400;
  font-family: "Gilroy";
  font-size: 14px;
}
.header__title__help {
  font-size: 16px;
  color: #ffff;
  font-weight: 400;
  font-family: "Gilroy";
  font-size: 14px;
  margin-right: 13px;
  padding-bottom: 10px;
}
.header__contact__number {
  font-size: 16px;
  color: #ffb700;
  font-weight: 400;
  font-family: "Gilroy";
  font-size: 14px;
  text-decoration: none;
}

/* nav */
.nav__box {
  display: flex;
}
.nav__container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.ul__box {
  display: flex;
}
.menu {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu_item {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 500;
  font-size: 12px;
  color: rgba(42, 40, 40, 1);
  margin-right: 60px;
}
.btn {
  width: 150px;
  height: 35px;
  background-color: #65256f;
  border-radius: 4px;
  border-color: #65256f;
  color: #fff;
}
.title {
  margin-top: 35px;
  overflow: hidden;
  text-align: center;
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 30px;
}
.title span {
  display: inline-block;
  vertical-align: middle;
  color: black;
}
.title:before,
.title:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 2px;
  background-color: rgba(190, 190, 190, 1);
  position: relative;
}
.title:before {
  margin-left: -100%;
  left: -1px;
}
.title:after {
  margin-right: -100%;
  right: -1px;
}

.main__box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
}
.main__img__box {
  width: 85%;
}
.main__img__box img {
  width: 330px;
  height: 300px;
  padding-left: 20px;
}
.text__item_title {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item__text {
  width: 85%;
  height: 120px;
  font-weight: 400;
  font-family: "Gilroy";
  font-size: 16px;
  text-align: center;
  line-height: 2;
  color: #000000;
}
.bg__img {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__bg__img {
  width: 85%;
  margin-top: 30px;
  position: relative;
}

.circle_white_arrow {
  position: absolute;
  top: 167%;
  left: 6%;
  width: 48;
  height: 48;
}
.circle_left_arrow {
  position: absolute;
  top: 172.5%;
  left: 8.5%;
}
.circle_white_arrow2 {
  position: absolute;
  top: 167%;
  left: 87.5%;
  width: 48;
  height: 48;
}
.circle_left_arrow2 {
  position: absolute;
  top: 172.5%;
  left: 90.3%;
}
.bg__text {
  position: absolute;
  top: 189%;
  left: 34%;
  font-weight: 400;
  font-family: "Gilroy";
  font-size: 22px;
  color: #fff;
}
/* footer */
.main__footer {
  background-color: #3a3a3a;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.footer__box {
  width: 200px;
  height: 100px;
  margin-right: 20px;
}
.footer__title {
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 16px;
  text-align: start;
  color: #fff;
}
/* .footer__lorem {
  ma-top: 100px;
} */
p {
  padding-top: 10px;
  color: #fff;
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 10px;
}
.footer__lorem {
  line-height: 2;
}
